<div class="hero-unit">
  <div class="button-bar pull-right">
    <a class="btn refresh">
      <i class="icon-refresh"></i>
    </a>
  </div>
  <h1>It's basically <%= @product.name %> for <%= @market.name %></h1>
</div>